		.mfp-planner.garden .mfp-header-group
		{
			flex-basis: 100px;
		}
		.mfp-planner.garden .mfp-header
		{
			text-transform: uppercase;	
		}
		.mfp-planner.garden .mfp-content .mfp-wrap .mfp-bg-row .mfp-bg-cell .mfp-bg-cell-header, 
		.mfp-planner.garden .mfp-wrapper .mfp-content .mfp-wrap .mfp-item-table .mfp-cell-header, 
		.mfp-planner.garden .mfp-wrapper .mfp-content .mfp-wrap .mfp-item-table .mfp-cell-header .mfp-cue
		{
			visibility: hidden;
			height: 0px;
			padding: 0;
			border: 0;
		}
		.mfp-planner.garden .itemClass0 .mfp-item
		{
			background-color: #B2F068 !important;
			color: #222 !important;
		}
		.mfp-planner.garden .itemClass1 .mfp-item
		{
			background-color: #FFDD75 !important;
			color: #222 !important;
		}
		.mfp-planner.garden .itemClass2 .mfp-item
		{
			background-color: #7FDBFF !important;
			color: #222 !important;
		}
		.mfp-planner.garden .mfp-item .mfp-subject
		{
			align-self: center;
			text-align: center;
		}
		.mfp-planner.garden .mfp-item .mfp-icons:after
		{
			content: "\2716";
			font-size: x-large;
			line-height: 30px;
			color: #fff;
		}
		.garden .cellClass0
		{
			background-color: #fff2e6;
		}
		.garden .cellClass1
		{
			background-color: #e6ffe6;
		}
		.garden .cellClass2
		{
			background-color: #ffffe6;
		}
		.garden .cellClass3
		{
			background-color: #e6ffff;
		}