.mfp-planner.interactions .mfp-item .mfp-subject
{
	text-align: center;
	align-self: center;
}
.mfp-planner.interactions .indicator-drag
{
	background-color: #f6cd61 !important;
	color: #fff;
}
.mfp-planner.interactions:not(.mfp-timetable-view):not(.mfp-horizontal-timetable-view) .indicator-drag::after
{
	content: "\0021C4";
	font-size: xx-large;
}
.mfp-planner.interactions .indicator-resize
{
	background-color: #adcbe3 !important;
	color: #fff;
}
.mfp-planner.interactions:not(.mfp-timetable-view):not(.mfp-horizontal-timetable-view) .indicator-resize::after
{
	content: "\0021D4";
	font-size: xx-large;
}
.modal
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
}
.inplace
{
	position: absolute;
	top: 33%;
	left: 33%;
	right: 33%;
	bottom: 33%;
	background: rgba(246, 190, 132, 0.5);
	border: 2px double #E2806C;
	border-radius: 5px;
	text-align: center;
	padding: 20px;
}
.inplace > textarea
{
	width: 100%;
	height: 60%;
}
.inplace > button
{
	margin: 5px;
	padding: 10px;
	width: 100px;
}
.inplace-create
{
	position: absolute;
	z-index: 999;
	padding: 0;
	border: none;
	background-color: #fff2cc;
}